<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Outdraft</title>
</head>
<body>
    <div>
        <a href="/" class="logo" id="home">Outdraft</a>
        <a href="/newTeam" class="subhead" id="addTeam">Add Team</a>
        <a href="/stats" class="subhead" id="stats">Stats</a>
        <a href="/admin" class="subhead" id="admin">Admin</a>
    </div>
    <label for="elimPlayer">Eliminated Player</label>
    <form action="elim" method="POST">
        <select name="elimPlayer" >
            <option value="Cassidy">Cassidy</option>
            <option value="Cody">Cody</option>
            <option value="Dwight">Dwight</option>
            <option value="Elie">Elie</option>
            <option value="Geo">Geo</option>
            <option value="Jay">Jay</option>
            <option value="Jeanine">Jeanine</option>
            <option value="Jesse">Jesse</option>
            <option value="Justine">Justine</option>
            <option value="Karla">Karla</option>
            <option value="Lindsay">Lindsay</option>
            <option value="Marriah">Marriah</option>
            <option value="Mike">Mike</option>
            <option value="Nneka">Nneka</option>
            <option value="Noelle">Noelle</option>
            <option value="Owen">Owen</option>
            <option value="Ryan">Ryan</option>
            <option value="Sami">Sami</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>
