<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Outdraft</title>
</head>
<body onload="getRandomImage()">
    <div class="nav">
        <a href="/" class="logo" id="home">Outdraft</a>
    </div>
    <div class="Thanks" style="text-align:center">
        <p class="thanksText" id="home">Thanks for submitting your team. Leaderboards will be live at the start of the episode on Wednesday</p>
        <p class="remakeTeam">If you want to change your team submit a new team and i'll take the newest one untill the second episode airs</p>

    </div>
</body>
</html>
